.mi-nav {
    background-color: rgba(2, 255, 2, 0.203);
    color: white;
  }

.cuadro-1{
  background-color: rgba(2, 255, 2, 0.203);
  justify-content: center;
  text-align: left;
  border: 1px solid rgb(0, 45, 18);
  border-radius: 10px;
  box-shadow: 6px 6px 9px #032500;
  padding: 10px;
  margin-left: 45px;
}

.cuadro-2 {
  text-align: left;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  text-align: left;
  border: 1px solid rgb(0, 45, 18);
  border-radius: 10px;
  box-shadow: 6px 6px 9px #000000;
  padding: 10px;
  margin-left: 100px;
  margin-right: 20px;
  color: black;
}

.imagen{
  text-align: center;
  justify-content: center;
  padding: 0px;
}

.card{
  text-align: center;
  margin-left: 100px;
}

.cuadro-3{
  text-align: left;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  text-align: left;
  border: 1px solid rgb(0, 45, 18);
  border-radius: 10px;
  box-shadow: 6px 6px 9px #000000;
  padding: 10px;
  margin-left: 100px;
  margin-right: 75px;
  margin-top: 40px;
  color: black;
}

.cuadro-4 {
  text-align: left;
  background-color: rgba(2, 255, 2, 0.203);
  justify-content: center;
  border: 1px solid rgb(0, 45, 18);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #032500;
  padding: 10px;
  margin-left: 80px;
  color: black;
}

.cuadro-5{
  text-align: left;
  background-color: rgba(0, 188, 0, 0.203);
  justify-content: center;
  border: 1px solid rgb(0, 45, 18);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #032500;
  padding: 10px;
  margin-left: 30px;
  margin-top: 38px;
  color: black;
}

.cuadro-6{
  text-align: left;
  background-color: rgba(0, 188, 0, 0.203);
  justify-content: left;
  border: 1px solid rgb(0, 45, 18);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #032500;
  padding: 10px;
  margin-left: 120px;
  margin-top: 38px;
  color: black;
}

.horario-atencion{
  text-align: center;
  justify-content: center;
  margin-right: 40px;
}

.redes-sociales{
  text-align: center;
  justify-content: left;
  margin-top: .5px;
}